/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:wght@700&family=Playball&family=Poppins:ital,wght@0,500;1,500&family=Roboto+Slab:wght@700&family=Satisfy&display=swap');
/* common style */
body{
    
    font-family: 'Playball', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: rgb(32, 32, 32);
    

}
.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    /* position: relative; */
}
                        /* Header section */

header{
    background-color: rgb(184, 170, 170);
}
.header{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

}
.menu{
    display: flex;
    justify-content: space-evenly;
}

                        /* Intro section */
.top-section{
    margin-bottom: 10px;
    display: flex;
}
.intro-blog{
    margin-top: 50px;
}
.intro-blog h1{
    font-size: 60px;
}
.intro-blog h5{
    font-size: 18px;
    margin-right: 150px;
}
button{
    font-size: 20px;
    background-color: rgb(255, 57, 135);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}
button:hover {
    transform: scale(1.1);
}
.fa-arrow-right{
    margin-left: 20px;
}

.main-camera{
    width: 600px;
    height: 500px;
    margin-top: 70px;
    margin-right: 130px;
}

.camera-photo:hover{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}
                        /* Middle section */
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.brand-icon{
    text-align: center;
}
.brand-icon img{
    
    margin: 40px;

}
                        /* Popular section */

.popular-section{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 100px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}
.product{
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #888888;
}
.products img{
    width: 345px;
}
.ratings i{
    color: rgb(255, 208, 0);
}
.see-more{
    text-align: right;
    margin-top: 30px;
    
}
.see-more a{
    text-decoration: none;  
    color: rgb(255, 57, 135);
    font-size: 20px;
}

                        /* order now */
.box-order{
    text-align: center;
    width: 50%;
    margin-left: 22%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(2, 1, 1);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(97, 80, 80);
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=reset] {
    background-color: #af4c61;
    margin-left: 10px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=reset]:hover {
    background-color: #a04545;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

                        /* Footer */
footer{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-text{
    font-family: 'Lobster', cursive;
    font-family: 'Playball', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Vujahday Script', cursive;
}

footer i{
    margin-left: 20px;
    margin-right: 20px;
}

                            /* mobile view */
@media only screen and (max-width:688px)  {
    header{
        width: 100%;
        overflow-x: hidden;  
    }
    .container{
        width: 100%;
        margin: 0;
        overflow-x: hidden;
    }
    #item-1 {
        order: 2;
        flex-grow: 1;
    }

    #item-2 {
        order: 1;
    }
    button{
        margin-top: 20px;
    }
    .camera-photo{
        width: 380px;
        margin-right: 200px;
        margin-top: 50px;
    }
    .top-section{
        text-align: center;
    }
    .intro-blog h5{
        margin: 0;
    }
    .header{
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .top-section{
        flex-direction: column;
    }
    .menu{
        display: block;
    }

    .products{
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .product img{
        width: 100%;
    }
    .box-order{
        margin-left: 55px;
        margin-bottom: 50px;
    }
    
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    
    
}

                        /* tablet section */

@media only screen and (min-width:688px) and (max-width:992px)  {
    
    header{
        width: 100%;
    }
    .container{
        width: 100%;
        margin: 0;
    }
    #item-1 {
        order: 2;
        flex-grow: 1;
    }

    #item-2 {
        order: 1;
    }
    button{
        margin-top: 20px;
    }
    .camera-photo{
        width: 500px;
        margin-left: 30%;
        margin-top: 50px;
    }

    .top-section{
        text-align: center;
    }
    .intro-blog h5{
        margin: 0;
    }

    .header{
        
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .top-section{
        flex-direction: column;
    }
    .menu{
        display: block;
    }

    .products{
        margin-left: 20px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .product img{
        width: 100%;
    }
    .box-order{
        margin-left: 20%;
        margin-bottom: 50px;
    }
    
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
}
                            /* wide display section */
@media only screen and (min-width:992px) and (max-width:1312px)  {
    
    header{
        width: 100%;
    }
    .container{
        width: 100%;
        margin: 0;
    }

    .header{
        
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .top-section{
        flex-direction: column;
    }
    .menu{
        display: block;
    }

    .products{
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
    }
}